{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="has-text-primary is-size-2">Sign In</h1>
        <form method="post">
            {% if error %}
                <div class="notification is-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            {% if app.user %}
                <div class="mb-3">
                    You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
                </div>
            {% endif %}


            <div class="field">
                <label class="label" for="inputEmail">Email</label>
                <div class="control">
                    <input class="input" type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" required autofocus>
                </div>
                <label class="label" for="inputPassword">Password</label>
                <div class="control">
                    <input class="input" type="password" name="password" id="inputPassword" class="form-control" required>
                </div>
            </div>



            <input type="hidden" name="_csrf_token"
                   value="{{ csrf_token('authenticate') }}"
            >

            {#
                Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
                See https://symfony.com/doc/current/security/remember_me.html

                <div class="checkbox mb-3">
                    <label>
                        <input type="checkbox" name="_remember_me"> Remember me
                    </label>
                </div>
            #}

            <div class="control">
                <button class="button is-link" type="submit">
                    Sign in
                </button>
            </div>


        </form>
    </div>

{% endblock %}
