{% extends 'base.html.twig' %}

{% block title %}Registro{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="has-text-primary is-size-2">Registro nuevo ususario</h1>



        {% for message in app.flashes('success') %}
            <div class="notification is-primary">
                {{ message }}
            </div>
        {% endfor %}

        {{ form_start(registroForm) }}
            <div class="field">
                {{ form_label(registroForm.email) }}
                {{ form_widget(registroForm.email, {'attr': {'class': 'input'}}) }}
                <div class="has-text-danger">
                    {{ form_errors(registroForm.email) }}
                </div>

            </div>
            <div class="field">
                {{ form_label(registroForm.username) }}
                {{ form_widget(registroForm.username, {'attr': {'class': 'input'}}) }}
            </div>
            <div class="field">
                {{ form_label(registroForm.password.first) }}
                {{ form_widget(registroForm.password.first, {'attr': {'class': 'input'}}) }}

            </div>
        <div class="field">
            {{ form_label(registroForm.password.second) }}
            {{ form_widget(registroForm.password.second, {'attr': {'class': 'input'}}) }}

                <div class="has-text-danger">
                    {{ form_errors(registroForm.password.children['first']) }}
                </div>

        </div>
{#            <div class="field">#}
{#                {{ form_label(registroForm.repeat_password) }}#}
{#                {{ form_widget(registroForm.repeat_password, {'attr': {'class': 'input'}}) }}#}
{#            </div>#}
            <div class="field">
                {{ form_label(registroForm.avatar) }}
                {{ form_widget(registroForm.avatar, {'attr': {'class': 'input'}}) }}
            </div>

            <button class="button is-link" type="submit">
                Registro
            </button>
        {{ form_end(registroForm) }}
{#        <form method="post">#}

{#            {% if app.user %}#}
{#                <div class="mb-3">#}
{#                    You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>#}
{#                </div>#}
{#            {% endif %}#}


{#            <div class="field">#}
{#                <label class="label" for="inputEmail">Email</label>#}
{#                <div class="control">#}
{#                    <input class="input" type="email" value="" name="email" id="inputEmail" class="form-control" required autofocus>#}
{#                </div>#}
{#                <label class="label" for="inputPassword">Password</label>#}
{#                <div class="control">#}
{#                    <input class="input" type="password" name="password" id="inputPassword" class="form-control" required>#}
{#                </div>#}
{#                <label class="label" for="avatar">Imagen avatar</label>#}

{#                <div class="control">#}
{#                    <input class="input" type="file" name="avatar" id="avatar" class="form-control" required>#}
{#                </div>#}
{#            </div>#}



{#            <input type="hidden" name="_csrf_token"#}
{#                   value="{{ csrf_token('authenticate') }}"#}
{#            >#}

{#            #}{##}
{#                Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.#}
{#                See https://symfony.com/doc/current/security/remember_me.html#}

{#                <div class="checkbox mb-3">#}
{#                    <label>#}
{#                        <input type="checkbox" name="_remember_me"> Remember me#}
{#                    </label>#}
{#                </div>#}
{#            #}

{#            <div class="control">#}
{#                <button class="button is-link" type="submit">#}
{#                    Registro#}
{#                </button>#}
{#            </div>#}


{#        </form>#}
    </div>

{% endblock %}
