a {
    text-decoration: none;
    color: inherit;

}

.article-image {
    max-width: 25%;
}
.is-horizontal-center {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
}
