{% extends 'base.html.twig' %}

{% block title %}Registro{% endblock %}
{% block body %}
    <table class="table is-striped is-hoverable">
        <thead>
        <tr>
            <th class="has-text-primary">Email</th>
            <th class="has-text-primary">Avatar</th>
        </tr>
        </thead>
        <tbody>
    {%  for user in users %}
        <tr>
            <td>{{ user.email }}</td>
            <td>
                <figure class="image is-48x48">
                    <img class="is-rounded" src="{{ asset("uploads/avatars") }}/{{ user.avatar }}" alt="Placeholder image">
                </figure>
            </td>
        </tr>

    {%  endfor %}
        </tbody>
    </table>
{% endblock %}
