{% extends 'base.html.twig' %}

{% block title %}Nuevo articulo{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="has-text-primary is-size-2">Editar artículo</h1>
        {% for message in app.flashes('errores') %}
            <div class="notification is-danger">
                {{ message }}
            </div>
        {% endfor %}
        {% for message in app.flashes('success') %}
            <div class="notification is-primary">
                {{ message }}
            </div>
        {% endfor %}
        {{ form_start(form) }}
            <label class="label" for="articulo_form_title">Título</label>
            {{ form_widget(form.title, {'attr': {'class': 'input'}}) }}

            <label class="label" for="articulo_form_content">Contenido</label>
            {{ form_widget(form.content, {'attr': {'class': 'textarea'}}) }}

            <label class="label" for="articulo_form_image">Imagen</label>
            {{ form_widget(form.image, {'attr': {'class': 'input'}}) }}

            <button class="button is-link" type="submit">
                Editar Articulo
            </button>
        {{ form_end(form) }}

    </div>

{% endblock %}
