{% extends 'base.html.twig' %}

{% block title %}Nuevo articulo{% endblock %}

{% block body %}
    <div class="container">
        {% for message in app.flashes('success') %}
            <div class="notification is-primary">
                {{ message }}
            </div>
        {% endfor %}
        <h1 class="has-text-primary is-size-2">Artículos</h1>
        {% for articulo in articulos %}
            <article class="media box">
                <figure class="media-left">
                    <p class="image is-64x64">
                        <img src="{{ asset('uploads/articles/') }}{{ articulo.image }}">
                    </p>
                </figure>
                <div class="media-content">
                    <div class="content">
                        <h3 class="is-size-4 has-text-primary"><a href="{{  path('article', {id : articulo.id})}}">{{ articulo.title }}</a></h3>
                        <p>
                            {{ articulo.content|length>200 ? articulo.content|slice(0, 200) ~ '...' : articulo.content}}
                            <br>

                            <span class="image is-24x24 is-inline-block">
                                <img class="is-rounded" src="{{ asset('uploads/avatars/') }}{{ articulo.user.avatar }}">
                            </span>

                            <strong>{{ articulo.user.username }}</strong>
                            <small>{{articulo.user.email}}</small>
                            <span class="icon has-text-info">
                                <i class="fas fa-clock"></i>
                            </span>
                            <small>{{articulo.publishedAt|ago}}</small>
                            {% if app.user and app.user.email == articulo.user.email%}
                                <a href="{{ path('article_edit', {id: articulo.id})}}">
                                    <span class="icon has-text-danger">
                                        <i class="fas fa-edit"></i>
                                    </span>
                                    <small class="has-text-danger">Editar</small>
                                </a>
                            {% endif %}

                        </p>
                    </div>

                </div>
            </article>

        {% endfor %}

    </div>

{% endblock %}
