{% extends 'base.html.twig' %}

{% block title %}Nuevo articulo{% endblock %}

{% block body %}
    <div class="container">


        <div class="box">
            <section class="hero">
                <div class="hero-body">
                    <div class="container">
                        <h1 class="title">
                            {{ articulo.title }}
                        </h1>
                        <h3 >
                            <span class="icon has-text-info">
                                <i class="fas fa-user"></i>
                            </span>
                            {{articulo.user.username}} {{ articulo.publishedAt|ago }}
                        </h3>
                    </div>
                </div>
            </section>
            <div class="columns">
                <div class="column is-one-fifth">
                    <img class="article-image" src="{{ asset('uploads/articles/') }}{{ articulo.image }}" alt="{{ articulo.title }}">
                </div>
                <div class="column">
                    {{ articulo.content}}
                </div>
            </div>


        </div>

        <h3 class="is-size-4 has-text-primary">Comentarios</h3>
        <article class="media">
            <div class="content">
                {% for comment in comments %}
                    <article class="media m-l-1">
                        <figure class="media-left">
                            <p class="image is-64x64">
                                <img src="{{ asset('uploads/avatars/')}}{{ comment.user.avatar }}">
                            </p>
                        </figure>
                        <div class="media-content">
                            <div class="content">
                                <p>
                                    <span class="icon has-text-info">
                                        <i class="fas fa-user"></i>
                                    </span>
                                    <strong>{{comment.user.username}}</strong>
                                    <span class="icon has-text-info">
                                        <i class="fas fa-clock"></i>
                                    </span>
                                    <small>{{comment.publishedAt|ago}}</small>


                                </p>
                                <p class="has-text-grey has-text-weight-light">
                                    {{comment.content}}
                                </p>
                            </div>
                            <nav class="level is-mobile">
                                <div class="level-left">
                                    <a class="level-item">
                                        <span class="icon is-small"><i class="fas fa-reply"></i></span>
                                    </a>
                                    <a class="level-item">
                                        <span class="icon is-small"><i class="fas fa-retweet"></i></span>
                                    </a>
                                    <a class="level-item">
                                        <span class="icon is-small"><i class="fas fa-heart"></i></span>
                                    </a>
                                </div>
                            </nav>
                        </div>

                    </article>
                {% endfor %}
            </div>
        </article>
        <div class="columns">
            <div class="column is-half">
                {%  if app.user %}
                    {{ form_start(commentForm) }}
                    <div class="field">
                        {{ form_label(commentForm.content) }}
                        {{ form_widget(commentForm.content, {'attr': {'class': 'textarea'}}) }}
                    </div>

                    <button class="button is-link" type="submit">
                        Añadir comentario
                    </button>
                    {{ form_end(commentForm) }}
                {% endif %}
            </div>
        </div>



    </div>

{% endblock %}
