{% extends 'base.html.twig' %}

{% block title %}Nuevo articulo{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="has-text-primary is-size-2">Añadir nuevo artículo</h1>
        {% for message in app.flashes('errores') %}
            <div class="notification is-danger">
                {{ message }}
            </div>
        {% endfor %}
        {% for message in app.flashes('success') %}
            <div class="notification is-primary">
                {{ message }}
            </div>
        {% endfor %}
        {{ form_start(articuloForm) }}
        <label class="label" for="articulo_form_title">Título</label>
        {{ form_widget(articuloForm.title, {'attr': {'class': 'input'}}) }}
        <label class="label" for="articulo_form_content">Contenido</label>
        {{ form_widget(articuloForm.content, {'attr': {'class': 'textarea'}}) }}
        <label class="label" for="articulo_form_image">Imagen del artículo</label>
        {{ form_widget(articuloForm.image, {'attr': {'class': 'input'}}) }}
        <button class="button is-link" type="submit">
            Añadir Articulo
        </button>
        {{ form_end(articuloForm) }}

    </div>

{% endblock %}
