<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('css/bulma.min.css') }}">
            <link rel="stylesheet" href="{{ asset('css/all.min.css')}}">
        {% endblock %}
    </head>
    <body>
        {% block navbar %}

            <nav class="navbar is-info" role="navigation" aria-label="main navigation">
                <div class="navbar-brand">
                    <a class="navbar-item" href="{{path('articles')}}">
                        <img src="{{ asset('images/logo.png') }}" width="112" height="28">
                    </a>

                    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
                        <span aria-hidden="true"></span>
                        <span aria-hidden="true"></span>
                        <span aria-hidden="true"></span>
                    </a>
                </div>

                <div id="navbarBasicExample" class="navbar-menu">
                    <div class="navbar-start">
                        <a class="navbar-item" href="{{ path('articles') }}">
                            Home
                        </a>

                        <a class="navbar-item" href="{{ path('add_article') }}">
                            Añadir artículo
                        </a>


                    </div>

                    <div class="navbar-end">
                        {% if not app.user %}
                        <div class="navbar-item">
                            <div class="buttons">
                                <a class="button is-primary" href="{{ path('app_user_registration') }}">
                                    <strong>Registrarse</strong>
                                </a>
                                <a class="button is-light" href="{{ path('app_login') }}">
                                    Log in
                                </a>
                            </div>
                        </div>
                    </div>
                    {% else %}
                        <div class="navbar-item has-dropdown is-hoverable">
                            <a class="navbar-link">
                                <img class="is-rounded is-32x32" src="{{ asset('/uploads/avatars/') }}{{ app.user.avatar }}" alt="">
                                {{ app.user.username }}
                            </a>

                            <div class="navbar-dropdown">
                                <a class="navbar-item" href="{{ path('app_logout') }}">
                                    Logout
                                </a>
                            </div>
                        </div>

                    {% endif%}
                </div>
            </nav>
        {% endblock %}
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
